# Introduction to Pandas dataframe

Data frame is a main object in Pandas. It is used to represent data with rows and columns.

Data frame is a data structure representing the data in tabular / excel spread sheet.

<h3> Creating Dataframe </h3>

In [1]:
import pandas as pd
df = pd.read_csv('weather_data.csv')   # read csv data
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [2]:
# list of tuples

weather_data = [('1/1/2017', 32, 6, 'Rain'),
                ('1/2/2017', 35, 7, 'Sunny'),
                ('1/3/2017', 28, 2, 'Snow'),
                ('1/4/2017', 24, 7, 'Snow'),
                ('1/5/2017', 32, 4, 'Rain'),
                ('1/5/2017', 31, 2, 'Sunny')
               ]

df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/5/2017           31          2  Sunny

In [3]:
# get dimensions of data

df.shape   # total number of rows and columns

(6, 4)

In [6]:
# if we want to see the intial few rows use head()  -  default = 5 rows
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [7]:
# if we want to see the last few rows use tail() - default = 5 rows
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/5/2017           31          2  Sunny

In [9]:
# slicing
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [10]:
# print columns in a table
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [12]:
# print particular column data - 1st way
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/5/2017
Name: day, dtype: object

In [13]:
# print particular column data - 2nd way
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/5/2017
Name: day, dtype: object

In [14]:
# get data from 2 columns
df[['day', 'event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/5/2017  Sunny

In [15]:
# get all temperatures
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [16]:
# get minimum temperature
df['temperature'].min()

24

In [17]:
# get maximum temperature
df['temperature'].max()

35

In [18]:
# describe temperature data
df['temperature'].describe()  # we get 6 values - mean, std. deviation, statistical parameters(25%, 50%, 75%), min, max

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [19]:
# select rows which has maximum temperature
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [20]:
# select only the day column which has maximum temperature
df.day[df.temperature == df.temperature.max()]

1    1/2/2017
Name: day, dtype: object